<?xml version="1.0"?>
<launch>

  <arg name="map" default="map_2"/>  

  <!-- rviz -->
  <include file="$(find learning_ros)/launch/common/rviz.xml" >
    <arg name="config" default="move_base"/>
  </include>

  <!-- gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />
  
  <!-- load robot -->
  <include file="$(find learning_ros)/launch/common/robot.xml" />

  <!-- load environment -->
  <include file="$(find learning_ros)/launch/common/environment.xml" >
    <arg name="map" default="$(arg map)"/>  
  </include>

  <!-- gmapping -->
  <node name="gmapping" pkg="gmapping" type="slam_gmapping" args="scan:=base_scan" >
    <param name="delta" type="double" value="0.05" />
    <param name="temporalUpdate" type="double" value="2.5" />
    <param name="xmin" type="double" value="-2" />
    <param name="xmax" type="double" value="2" />
    <param name="ymin" type="double" value="-2" />
    <param name="ymax" type="double" value="2" />
  </node>

  <!-- move_base -->
  <include file="$(find learning_ros)/launch/common/move_base.xml" />

</launch>
