<?xml version="1.0"?>
<launch>

  <arg name="map" default="map_2"/>  

  <!-- rviz -->
  <include file="$(find learning_ros)/launch/common/rviz.xml" >
    <arg name="config" default="teleop_map"/>
  </include>

  <!-- gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />
  
  <!-- load robot -->
  <include file="$(find learning_ros)/launch/common/robot.xml" />

  <!-- teleop -->
  <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" launch-prefix="xterm -title teleop -hold -e" />

  <!-- load environment -->
  <include file="$(find learning_ros)/launch/common/environment.xml" >
    <arg name="map" default="$(arg map)"/>  
  </include>

  <!-- load map -->
  <include file="$(find learning_ros)/launch/common/map.xml" >
    <arg name="map" default="$(arg map)"/>
  </include>

  <!-- amcl -->
  <include file="$(find learning_ros)/launch/common/amcl.xml" >
    <arg name="scan" default="base_scan"/>
  </include>

</launch>
