<?xml version="1.0"?>
<launch>

  <arg name="map" default="map_4"/>

  <!-- rviz -->
  <include file="$(find learning_ros)/launch/common/rviz.xml" >
    <arg name="config" default="teleop_map"/>
  </include>

  <!-- gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />
  
  <!-- load robot -->
  <include file="$(find learning_ros)/launch/common/robot.xml" />

  <!-- load map -->
  <include file="$(find learning_ros)/launch/common/map.xml" >
    <arg name="map" default="$(arg map)"/>
  </include>

  <!-- amcl -->
  <include file="$(find learning_ros)/launch/common/amcl.xml" >
    <arg name="scan" default="base_scan"/>
  </include>

</launch>
